<!DOCTYPE html>
<html>
<head>
	<title>Template 01</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.css">

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<div class="conteudo-principal" id="app">
		<header class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<button class="visible-xs-inline-block btn btn-default btn-sm aside-toggle" @click="toggleMenuLateral">
					<i class="fa fa-bars"></i>
				</button>
				<div class="navbar-header">
					<a href="#" class="navbar-brand">Template 01</a>
				</div>
				<ul class="nav navbar-nav navbar-right hidden-xs">
					<li class="dropdown options">
						<a href="javascript:void(0);" data-toggle='dropdown'>
							{{usuario.email}}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#"  data-toggle="modal" data-target="#modalLinks">Links</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</header>
		<aside class='menu-lateral'>
			<div class="aside-inner">
				<nav>
					<ul>
						<li>
							<a href="html5.html">
								<i class="fa fa-html5"></i>
								HTML 5
							</a>
						</li>
						<li class="active">
							<a href="css3.html">
								<i class="fa fa-css3"></i>
								CSS
							</a>
						</li>
						<li>
							<a href="javascript.html">
								<i class="fa fa-code"></i>
								JavaScript
							</a>
						</li>
						<li>
							<a href="vue.html">
								<i class="fa fa-star"></i>
								Vue.js
							</a>
						</li>
						<li>
							<a href="exemplo.html">
								<i class="fa fa-cube"></i>
								Exemplo App
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
		<section class="secao-principal">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>CSS</h4>
				</div>
				<div class="panel-body">
					<h4 class="header"><strong>[CSS3] Box shadows</strong></h4>
					<code>box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);</code>
					<div class="sombras"></div>

					<h4 class="header"><strong>[CSS3] Border radius</strong></h4>
					<p class="text-big">
						<code>boder-radius: 50%;</code>
						<div class="circle"></div>
					</p>
					<h4 class="header"><strong>[CSS3] Anima&ccedil;&otilde;es</strong></h4>
					<button class="btn btn-primary" @click="animacaoToggle">
						Animar
					</button>

					<div :class="{'animated tada': animacao}" class="animacao">Anima&ccedil;&otilde;es</div>
					<a href="https://daneden.github.io/animate.css/" class="text-big">https://daneden.github.io/animate.css/</a>

					<h4 class="header"><strong>Sass</strong></h4>
					<p class="text-big">&Eacute; um processador de folhas de estilos.<br/>Ajuda a deixar o css mais organizado e adiciona novas funcionalidades a ele.<br/>
					<a href="http://sass-lang.com/" target="_blank">http://sass-lang.com/</a></p>
					<h4 class="header"><strong>Frameworks front-ends</strong></h4>
					<ul class="text-big">
						<li><a href="http://getbootstrap.com/">http://getbootstrap.com/</a></li>
						<li><a href="http://foundation.zurb.com/">http://foundation.zurb.com/</a></li>
						<li><a href="http://semantic-ui.com/">http://semantic-ui.com/</a></li>
						<li><a href="http://ionicframework.com/">http://ionicframework.com/</a></li>
					</ul>
					<h4 class="header"><strong>Link</strong></h4>
					<a href="http://tympanus.net/codrops/" class="text-big">http://tympanus.net/codrops/</a>
				</div>
			</div>
		</section>
		<footer class="rodape">
			<a href="#">Template 01 - v-0.1</a>
		</footer>

		<!-- Referencias -->
		<div class="modal fade" tabindex="-1" role="dialog" id="modalLinks">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Links Interessantes</h4>
		      </div>
		      <div class="modal-body">
		        <ul class="list-unstyled text-big">
		        	<li class="list-header">Javascript</li>
		        	<li v-for="l in jsLinks">
		        		<a href="{{l.link}}" target="_blank">{{l.nome}}</a>
		        	</li>
		        	<li class="list-header">CSS</li>
		        	<li v-for="l in cssLinks">
		        		<a href="{{l.link}}" target="_blank">{{l.nome}}</a>
		        	</li>
		        	<li class="list-header">Livros</li>
		        	<li v-for="l in livrosLinks">
		        		<a href="{{l.link}}" target="_blank">{{l.nome}}</a>
		        	</li>
		        </ul>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	<!-- Javascripts -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="bower_components/vue/dist/vue.js"></script>
	<script type="text/javascript" src="javascripts/app.js"></script>
</body>
</html>