<!DOCTYPE html>
<html>
<head>
	<title>Template 01</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.css">

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<div class="conteudo-principal" id="exemploApp">
		<header class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<button class="visible-xs-inline-block btn btn-default btn-sm aside-toggle" @click="toggleMenuLateral">
					<i class="fa fa-bars"></i>
				</button>
				<div class="navbar-header">
					<a href="#" class="navbar-brand">Template 01</a>
				</div>
				<ul class="nav navbar-nav navbar-right hidden-xs">
					<li class="dropdown options">
						<a href="javascript:void(0);" data-toggle='dropdown'>
							{{usuario.email}}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#"  data-toggle="modal" data-target="#modalLinks">Links</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</header>
		<aside class='menu-lateral'>
			<div class="aside-inner">
				<nav>
					<ul>
						<li>
							<a href="html5.html">
								<i class="fa fa-html5"></i>
								HTML 5
							</a>
						</li>
						<li>
							<a href="css3.html">
								<i class="fa fa-css3"></i>
								CSS 3
							</a>
						</li>
						<li>
							<a href="javascript.html">
								<i class="fa fa-code"></i>
								JavaScript
							</a>
						</li>
						<li>
							<a href="vue.html">
								<i class="fa fa-star"></i>
								Vue.js
							</a>
						</li>
						<li class="active">
							<a href="exemplo.html">
								<i class="fa fa-cube"></i>
								Exemplo App
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
		<section class="secao-principal">
			<div class="panel panel-default" id="exemplo">
				<div class="panel-heading">
					<h4>{{titulo}}</h4>
				</div>
				<div class="panel-body">
					<h4>Hello {{nome}}</h4>
					<input type="text" name="nome" v-model="nome" value="Teste" @keyup.enter="addItem">

					<button class="btn btn-default" @click="addItem">Click</button>

					<button class="btn btn-default" @click="showLog">Log</button>

					<pre v-if="log">
						{{itens | json}}
					</pre>

					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="2">Nome do Item</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="i in itens | orderBy true">
								<td>{{i}}</td>
								<td><button class="btn btn-sm btn-danger" @click="removerItem(i)">
									<i class="fa fa-trash"></i>
								</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<footer class="rodape">
			<a href="#">Template 01 - v-0.1</a>
		</footer>
	</div>
	<!-- Javascripts -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="bower_components/vue/dist/vue.js"></script>
	<script type="text/javascript" src="bower_components/lodash/dist/lodash.js"></script>	
	<script type="text/javascript" src="javascripts/exemploApp.js"></script>
</body>
</html>