<!DOCTYPE html>
<html>
<head>
	<title>Template 01</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.css">

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<div class="conteudo-principal" id="app">
		<header class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<button class="visible-xs-inline-block btn btn-default btn-sm aside-toggle" @click="toggleMenuLateral">
					<i class="fa fa-bars"></i>
				</button>
				<div class="navbar-header">
					<a href="#" class="navbar-brand">Template 01</a>
				</div>
				<ul class="nav navbar-nav navbar-right hidden-xs">
					<li class="dropdown options">
						<a href="javascript:void(0);" data-toggle='dropdown'>
							{{usuario.email}}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#"  data-toggle="modal" data-target="#modalLinks">Links</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</header>
		<aside class='menu-lateral'>
			<div class="aside-inner">
				<nav>
					<ul>
						<li class="active">
							<a href="html5.html">
								<i class="fa fa-html5"></i>
								HTML 5
							</a>
						</li>
						<li>
							<a href="css3.html">
								<i class="fa fa-css3"></i>
								CSS
							</a>
						</li>
						<li>
							<a href="javascript.html">
								<i class="fa fa-code"></i>
								JavaScript
							</a>
						</li>
						<li>
							<a href="vue.html">
								<i class="fa fa-star"></i>
								Vue.js
							</a>
						</li>
						<li>
							<a href="exemplo.html">
								<i class="fa fa-cube"></i>
								Exemplo App
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
		<section class="secao-principal">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>HTML 5</h4>
				</div>
				<div class="panel-body">
					<h4 class="header"><strong>Declara&ccedil;&atilde;o do DOCTYPES</strong></h4>
					<p class="text-big">
						<code>&lt;!DOCTYPE html&gt;</code>
						Informa ao navegador que a p&aacute;gina est&aacute; utilizando HTML5
					</p>

					<h4 class="m-top-20 header"><strong>Os elementos de se&ccedil;&atilde;o do HTML5</strong></h4>
					<ul class="text-big">
						<li>Utilizava-se <code>div</code> para organizar os layouts.</li>
						<li>As <code>div</code> n&atilde;o tem significado sem&aacute;ntico.</li>
						<li>Diferenciadas pelas Classes ou Id.</li>
					</ul>

					<h4 class="m-top-20 header"><strong>Novos elementos de se&ccedil;&atilde;o</strong></h4>
					<button class="btn btn-sm btn-primary pull-right" @click="toggleLimites"><i class="fa fa-table"></i> Elementos da P&aacute;gina</button>
					<dl class="text-big">
					  <dt>HEADER</dt>
					  <dd>Define um grupo de t&iacute;tulos ou o cabe&ccedil;alho de uma determinada se&ccedil;&atilde;o.</dd>
					  <dt>FOOTER</dt>
					  <dd>Define o rodap&eacute; das se&ccedil;&otilde;es ou da p&aacute;gina.</dd>
					  <dt>NAV</dt>
					  <dd>Define um grupo ou bloco de links de navega&ccedil;&atilde;o.</dd>
					  <dt>ASIDE</dt>
					  <dd>Define um elemento lateral que pode conter blocos de navega&ccedil;&atilde;o (NAVs), cita&ccedil;&otilde;es e outras informa&ccedil;&otilde;es que costumamos colocar em uma sidebar.
					  </dd>
					  <dt>ARTICLE</dt>
					  <dd>Define a &aacute;rea onde h&aacute; um artigo, texto, reda&ccedil;&atilde;o, conte&uacute;do e etc...
					  </dd>
					  <dt>SECTION</dt>
					  <dd>Define um bloco ou um grupo de um assunto espec&iacute;fico.
					  </dd>
					</dl>

					<h4 class="m-top-20 header"><strong>Novos tipos de Inputs</strong></h4>
					<table class="table table-striped table-bordered"> 
						<thead>
							<tr>
								<th>Tipos de Inputs</th>
								<th>Atributos</th>
							</tr>							
						</thead>
						<tbody>
							<tr>
								<td>color</td>
								<td>autocomplete</td>
							</tr>
							<tr>
								<td>date</td>
								<td>autofocus</td>
							</tr>
							<tr>
								<td>datetime</td>
								<td>form</td>
							</tr>
							<tr>
								<td>datetime-local</td>
								<td>fomaction</td>
							</tr>
							<tr>
								<td>email</td>
								<td>formenctype</td>
							</tr>
							<tr>
								<td>month</td>
								<td>formmethod</td>
							</tr>
							<tr>
								<td>number</td>
								<td>formnovalidate</td>
							</tr>
							<tr>
								<td>range</td>
								<td>formtarget</td>
							</tr>
							<tr>
								<td>search</td>
								<td>height | width</td>
							</tr>
							<tr>
								<td>tel</td>
								<td>list</td>
							</tr>
							<tr>
								<td>time</td>
								<td>min | max</td>
							</tr>
							<tr>
								<td>url</td>
								<td>multiple</td>
							</tr>
							<tr>
								<td>week</td>
								<td>pattern(regex)</td>
							</tr>
							<tr>
								<td></td>
								<td>placeholder</td>
							</tr>
							<tr>
								<td></td>
								<td>required</td>
							</tr>
						</tbody>
					</table>

					<h4 class="m-top-20 header"><strong>Exemplos</strong></h4>
					<div class="col-sm-6 col-sm-push-3 m-t-b-50">
						<form>
						  <div class="form-group">
						    <label for="email">Email</label>
						    <input type="email" class="form-control" id="email" placeholder="Email">
						  </div>
						  <div class="form-group">
						    <label for="color">Colors</label>
						    <input type="color" class="form-control" id="color">
						  </div>
						  <div class="form-group">
						    <label for="date">Date *</label>
						    <input type="date" id="date" class="form-control" required="">
						  </div>
						  <button type="submit" class="btn btn-default">Salvar</button>
						</form>						
					</div>
				</div>
			</div>
		</section>
		<footer class="rodape">
			<a href="#">Template 01 - v-0.1</a>
		</footer>

		<!-- Referencias -->
		<div class="modal fade" tabindex="-1" role="dialog" id="modalLinks">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Links Interessantes</h4>
		      </div>
		      <div class="modal-body">
		        <ul class="list-unstyled text-big">
		        	<li class="list-header">Javascript</li>
		        	<li v-for="l in jsLinks">
		        		<a href="{{l.link}}" target="_blank">{{l.nome}}</a>
		        	</li>
		        	<li class="list-header">CSS</li>
		        	<li v-for="l in cssLinks">
		        		<a href="{{l.link}}" target="_blank">{{l.nome}}</a>
		        	</li>
		        	<li class="list-header">Livros</li>
		        	<li v-for="l in livrosLinks">
		        		<a href="{{l.link}}" target="_blank">{{l.nome}}</a>
		        	</li>
		        </ul>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	<!-- Javascripts -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="bower_components/vue/dist/vue.js"></script>
	<script type="text/javascript" src="javascripts/app.js"></script>
</body>
</html>