<!DOCTYPE html>
<html>
<head>
	<title>Template 01</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.css">

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<div class="conteudo-principal" id="app">
		<header class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<button class="visible-xs-inline-block btn btn-default btn-sm aside-toggle" @click="toggleMenuLateral">
					<i class="fa fa-bars"></i>
				</button>
				<div class="navbar-header">
					<a href="#" class="navbar-brand">Template 01</a>
				</div>
				<ul class="nav navbar-nav navbar-right hidden-xs">
					<li class="dropdown options">
						<a href="javascript:void(0);" data-toggle='dropdown'>
							{{usuario.email}}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#"  data-toggle="modal" data-target="#modalLinks">Links</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</header>
		<aside class='menu-lateral'>
			<div class="aside-inner">
				<nav>
					<ul>
						<li>
							<a href="html5.html">
								<i class="fa fa-html5"></i>
								HTML 5
							</a>
						</li>
						<li>
							<a href="css3.html">
								<i class="fa fa-css3"></i>
								CSS
							</a>
						</li>
						<li class="active">
							<a href="javascript.html">
								<i class="fa fa-code"></i>
								JavaScript
							</a>
						</li>
						<li>
							<a href="vue.html">
								<i class="fa fa-star"></i>
								Vue.js
							</a>
						</li>
						<li>
							<a href="exemplo.html">
								<i class="fa fa-cube"></i>
								Exemplo App
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
		<section class="secao-principal">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>JavaScript</h4>
				</div>
				<div class="panel-body">
				<h4 class="header"><strong>A linguagem</strong></h4>
				<ul class="text-big">
					<li>Baseada em ECMA Script</li>
					<li>Voltada para ser executada do lado do cliente</li>
					<li><code>Javascript != Java</code></li>
					<li>Orientada a objeto</li>
					<li>Avaliada em tempo de execu&ccedil;&atilde;o</li>
					<li>Tipagem din&acirc;mica</li>
				</ul>
				<h4 class="header"><strong>A biblioteca JQuery</strong></h4>
				<ul class="text-big">
					<li>Biblioteca JavaScript criada por John Resig</li>
					<li>Focada na simplicidade</li>
					<li>Javascript: <code>document.getElementById("valor").val = 5;</code><br/>JQuery: <code>$("valor").val(5);</code></li>
					<li>Diversos plugins utilizam o JQuery</li>
				</ul>
				<h4 class="header"><strong>Frameworks MVVM(Model View View Model)</strong></h4>
				<ul class="text-big">
					<li>Frameworks do lado do cliente</li>
					<li>Deixam a view sempre atualizada com o ultimo valor do model</li>
					<li>Abstrair a manipula&ccedil;&atilde;o do DOM</li>
					<li>SPA (Single Page Aplications)</li>
					<li>Abstrai o acoplamento entre o lado do cliente e o lado do servidor da aplica&ccedil;&atilde;o.</li>
				</ul>
				<p class="text-big">Existem diversos Frameworks JavaScript que utilizam o padr&atilde;o MVVM. Ex.:</p>
				<ul class="text-big">
					<li>AngulaJs</li>
					<li>React</li>
					<li>Ember</li>
					<li>Backbone</li>
					<li>Vue.js</li>
				</ul>

				<h4 class="header"><strong>Gerenciador de Depend&ecirc;ncias - Bower</strong></h4>
				<ul class="text-big">
					<li>O bower seria o que o maven &eacute; do java</li>
					<li>Auxilia no controle dos plugins utilizados</li>
					<li>F&aacute;cil instala&ccedil;&atilde;o e utiliza&ccedil;&atilde;o</li>
				</ul>

				<p class="text-big">
					<code>bower install bootstrap --save</code>
				</p>

				<h4 class="header"><strong>Pergunta</strong></h4>

				<div id="botoes">
					<button class="btn btn-primary botao-clique">Clique 1</button>
				</div>

				<h4>HTML</h4>
				<pre class="text-big">
&lt;div id="botoes"&gt;
	&lt;button class="btn btn-primary botao-clique"&gt;Clique&lt;/button&gt;
&lt;/div&gt;
				</pre>
				
				<h4>Javascript</h4>
				<pre class="text-big">
$(".botao-clique").click(function(){
	alert('Clicou!');
});
$("#botoes").append("&lt;button class='btn btn-primary botao-clique'&gt;Clique&lt;/button&gt;")
				</pre>

				<button class="btn btn-primary" @click="btnMostrarResposta">Resposta</button>
				<pre class="text-big" v-if='mostrarResposta' style="margin-top: 10px">
$("#botoes").on("click", ".botao-clique",function(){
	alert('Clicou!');
});
$("#botoes").append("&lt;button class='btn btn-primary botao-clique'&gt;Clique&lt;/button&gt;")
				</pre>
				</div>
			</div>
		</section>
		<footer class="rodape">
			<a href="#">Template 01 - v-0.1</a>
		</footer>

		<!-- Referencias -->
		<div class="modal fade" tabindex="-1" role="dialog" id="modalLinks">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Links Interessantes</h4>
		      </div>
		      <div class="modal-body">
		        <ul class="list-unstyled text-big">
		        	<li class="list-header">Javascript</li>
		        	<li v-for="l in jsLinks">
		        		<a href="{{l.link}}" target="_blank">{{l.nome}}</a>
		        	</li>
		        	<li class="list-header">CSS</li>
		        	<li v-for="l in cssLinks">
		        		<a href="{{l.link}}" target="_blank">{{l.nome}}</a>
		        	</li>
		        	<li class="list-header">Livros</li>
		        	<li v-for="l in livrosLinks">
		        		<a href="{{l.link}}" target="_blank">{{l.nome}}</a>
		        	</li>
		        </ul>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	<!-- Javascripts -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="bower_components/vue/dist/vue.js"></script>
	<script type="text/javascript" src="javascripts/app.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".botao-clique").click(function(){
				alert('Clicou!');
			});
			$("#botoes").append("<button class='btn btn-primary botao-clique'>Clique 2</button>")
		})
	</script>
</body>
</html>