<!DOCTYPE html>
<html>
<head>
	<title>Template 01</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.css">

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<div class="conteudo-principal" id="app">
		<header class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<button class="visible-xs-inline-block btn btn-default btn-sm aside-toggle" @click="toggleMenuLateral">
					<i class="fa fa-bars"></i>
				</button>
				<div class="navbar-header">
					<a href="#" class="navbar-brand">Template 01</a>
				</div>
				<ul class="nav navbar-nav navbar-right hidden-xs">
					<li class="dropdown options">
						<a href="javascript:void(0);" data-toggle='dropdown'>
							{{usuario.email}}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#"  data-toggle="modal" data-target="#modalLinks">Links</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</header>
		<aside class='menu-lateral'>
			<div class="aside-inner">
				<nav>
					<ul>
						<li>
							<a href="html5.html">
								<i class="fa fa-html5"></i>
								HTML 5
							</a>
						</li>
						<li>
							<a href="css3.html">
								<i class="fa fa-css3"></i>
								CSS
							</a>
						</li>
						<li>
							<a href="javascript.html">
								<i class="fa fa-code"></i>
								JavaScript
							</a>
						</li>
						<li class="active">
							<a href="vue.html">
								<i class="fa fa-star"></i>
								Vue.js
							</a>
						</li>
						<li>
							<a href="exemplo.html">
								<i class="fa fa-cube"></i>
								Exemplo App
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
		<section class="secao-principal">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Lista de Tarefas - {{tarefasIncompletas.length}}</h4>
				</div>
				<div class="panel-body">
					<a href="https://vuejs.org/" target="_blank" class="text-big">https://vuejs.org/</a>
					<ul class="list-group tarefas-list m-top-20">
						<li class="list-group-item">
							<div class="input-group">
							<input type="text" class="form-control" v-model="tarefa.descricao" placeholder="Descricao da tarefa..." @keyup.enter="addTarefa(t)">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button" @click="addTarefa"><i class="fa fa-plus"></i> Adicionar</button>
						      </span>
						    </div>
						</li>
						<li class="list-group-item" v-for="t in tarefasIncompletas">
							<input type="checkbox" name="concluida" @change="concluirTarefa(t) | debounce 300">
							<span class='descricao'>{{t.descricao}}</span>
							<span class="actions">
								<a href="javascript:void(0);" @click="removerTarefa(t)"><i class="fa fa-trash"></i></a>
							</span>
						</li>
					</ul>
					<ul class="list-group tarefas-list"  v-if="tarefasConcluidas.length">
						<li class="list-group-item"><h4 class="clearfix">Tarefas Conclu&iacute;das - {{tarefasConcluidas.length}} <button class="btn btn-primary btn-sm pull-right" @click="removerConcluidas">Remover Conclu&iacute;das</button></h4></li>
						<li v-for="t in tarefasConcluidas" class="list-group-item">
							<span class="descricao concluida"><del>{{t.descricao}}</del></span>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<footer class="rodape">
			<a href="#">Template 01 - v-0.1</a>
		</footer>
		
		<!-- Referencias -->
		<div class="modal fade" tabindex="-1" role="dialog" id="modalLinks">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Links Interessantes</h4>
		      </div>
		      <div class="modal-body">
		        <ul class="list-unstyled text-big">
		        	<li class="list-header">Javascript</li>
		        	<li v-for="l in jsLinks">
		        		<a href="{{l.link}}" target="_blank">{{l.nome}}</a>
		        	</li>
		        	<li class="list-header">CSS</li>
		        	<li v-for="l in cssLinks">
		        		<a href="{{l.link}}" target="_blank">{{l.nome}}</a>
		        	</li>
		        	<li class="list-header">Livros</li>
		        	<li v-for="l in livrosLinks">
		        		<a href="{{l.link}}" target="_blank">{{l.nome}}</a>
		        	</li>
		        </ul>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	<!-- Javascripts -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="bower_components/vue/dist/vue.js"></script>
	<script type="text/javascript" src="bower_components/lodash/dist/lodash.js"></script>
	<script type="text/javascript" src="javascripts/app.js"></script>
</body>
</html>