html, body{
	height: 100%;
}

body{
	background-color: #F6F6F6;
}

body.limites header, 
body.limites aside.menu-lateral nav,
body.limites section.secao-principal, 
body.limites footer.rodape{
	border: 2px solid red;
}

.conteudo-principal{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}

/****************
*
*  CABECALHO
*
*****************/

header.navbar{
	margin-bottom: 0;
}

header button.aside-toggle{
    float: left;
    margin-top: 10px;
}

/****************
*
*  MENU LATERAL
*
*****************/

aside.menu-lateral{
	position: absolute;
    padding-top: 50px;
    width: 220px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 110;
    background-color: #fff;
}

aside.menu-lateral .aside-inner{
	height: 100%;
    width: 220px;
    overflow: hidden;
}

aside.menu-lateral nav {
    background-color: #eee;
    height: 100%;
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

aside.menu-lateral nav ul{
	padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

aside.menu-lateral nav ul li{
	border-left: 3px solid transparent;	
}

aside.menu-lateral nav ul li a{
	padding: 12px 24px;
    color: #515253;
    letter-spacing: .025em;
    font-weight: 400;
    position: relative;
    display: block;
}

aside.menu-lateral nav ul li a:hover, 
aside.menu-lateral nav ul li a:active{
	text-decoration: none;
	color: #795548;
	font-weight: bold;
}

aside.menu-lateral nav ul li a{
	padding: 12px 24px;
    color: #515253;
    letter-spacing: .025em;
    font-weight: 400;
    position: relative;
    display: block;
}

aside.menu-lateral nav ul li a i{
	width: 2em;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

aside.menu-lateral nav ul li.active{
	border-left-color: initial;
}

aside.menu-lateral nav ul li.active a{
	background-color: #fff;
	color: #795548;
}

/****************
*
*  SECAO PRINCIPAL
*
*****************/

section.secao-principal{
	margin-left: 220px;
	position: relative;
    height: 100%;
    background-color: #F6F6F6;
    margin-bottom: 60px!important;
    padding: 15px;
}

/****************
*
*  RODAPE
*
*****************/

footer.rodape{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #e4eaec;
    padding: 20px;
    z-index: 1;
    margin-left: 220px;	
    background-color: #222;
    border-color: #080808;
}

footer.rodape a{
	color: #9d9d9d;
}

footer.rodape a:focus, 
footer.rodape a:hover{
	text-decoration: none;
	color: #fff;
}

@media only screen and (max-width: 767px){
	aside.menu-lateral{
		margin-left: 0;
		-webkit-transform: translate3d(-220px,0,0);
    	transform: translate3d(-220px,0,0);
	    -webkit-transition: -webkit-transform .3s ease;
	    -moz-transition: -moz-transform .3s ease;
	    -o-transition: -o-transform .3s ease;
	    transition: transform .3s ease;	
	} 

	section.secao-principal, footer.rodape{
		margin-left: 0;
	    -webkit-transition: -webkit-transform .3s ease;
	    -moz-transition: -moz-transform .3s ease;
	    -o-transition: -o-transform .3s ease;
	    transition: transform .3s ease;
	}
}

body.menu-lateral-toggled aside.menu-lateral{
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

body.menu-lateral-toggled section.secao-principal,
body.menu-lateral-toggled footer.rodape{
    -webkit-transform: translate3d(220px,0,0);
    transform: translate3d(220px,0,0);
}

.text-big{
	font-size: 19px;
}

.m-top-20{
	margin-top: 20px;
}

.m-t-b-50{
	margin-top: 50px;
    margin-bottom: 50px;
}

.header{
	border-top: 1px solid #9e9e9e;
	border-bottom: 1px solid #9e9e9e;
	padding: 15px 0px 15px 5px;
}

.circle{
	border-radius: 50%;
	border: 2px solid red;
	padding: 10px;
	width: 130px;
	height: 130px;
	margin: 0 auto;
	background: rgba(0,0,0,0.5);
}

.sombras{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: blue;
    width: 100px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.animacao{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	padding: 15px;
}

.tarefas-list li .descricao{
	margin-left: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #555;
}


.tarefas-list li .descricao.concluida{
	opacity: 0.7;
}

.tarefas-list li .actions{
  float: right;
}

.list-header{
    padding: 5px 0px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 10px;
}